footer {
  grid-area: foot;

  background-color: #032d2c;
}

.footer-list {
  float: right;

  margin-right: 25px;

  width: auto;

  list-style: none;

  color: white;
}

.footer-link {
  color: white;
}

.footer-link:hover {
  color: #bbf;
}
